.body-background{
  background-image: url(fix.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center;
    font-size: 55px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    text-decoration-style: wavy;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: brown;
    
}
.main-container{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 25px;
    max-width: 90%;
    margin: 10px;
    justify-content: center;
}

.image-box
{
    height: 150px;
    width: 150px;
    padding: 20px;
    border-radius: 30px;
}
.menu-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    
}